@model IEnumerable<IdintityProject.Models.GradesModel>
\
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}

<h3> @User.Identity.GetUserName() Courses </h3>


<table class="table">
    <tr>
        <th>
            All my Courses
        </th>



        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Course_Name)
            </td>

          


        </tr>
    }

</table>
