@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">You Don't have Permission to enter this page..!!</h2>

<p>
    @Html.ActionLink("Back to Dashboard", "Index", "Dashboard")
</p>
