
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .alert {
            padding: 20px;
            background-color: #f44336;
            color: white;
        }

        .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
        }

            .closebtn:hover {
                color: black;
            }
    </style>
</head>
<body>

    <h2>Permission </h2>

    <p>Click on the "x" symbol to close the alert message.</p>
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Error,You must Login As Admin</strong> You don't Have Permission To Access  This Page.
    </div>


    <div class="form-actions no-color">
        @Html.ActionLink("Back to list", "/")
    </div>


</body>
</html>



