@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2 style="text-align: center; text-transform: uppercase; color: #4CAF50;">@ViewBag.Title.</h2>

    <h3 style="text-decoration: none; color: #008CBA;">
        We are Building A Moodle Webapp to help students get in touch with teachers,and more comfortable for both .

        teachers and students and new Users can use the Website
    </h3>



    <br />
</div>
<img src="https://images.theconversation.com/files/296814/original/file-20191014-135509-xpdud2.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip" style="margin-left:4%;border:1px solid #f00" />
