@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<br />
<address>

    <address>
        Eyad Jabareen<br />
        <abbr title="Phone">P:</abbr>
        0504248902
    </address>
    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportEyad@gmail.com</a><br />
    </address>
