
@{
    ViewBag.Title = "Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row">
        <h2 style="margin-left:40%;">Policy</h2>
        <br />

        <p>

            SCE המכללה האקדמית להנדסה ע"ש סמי שמעון החלה לפעול בשנת 1995, וכיום היא המכללה להנדסה הגדולה בישראל, עם יותר מ-6,500 סטודנטיות וסטודנטים ו-11,000 בוגרות ובוגרים.

            המכללה מפעילה שני קמפוסים, בבאר-שבע ובאשדוד, ומעניקה תואר ראשון (.B.Sc) ותואר שני (.M.Sc) ברוב תחומי הנדסה; תואר ראשון במדעי המחשב (.B.Sc); תואר ראשון באדריכלות (.B.Arch) ותואר ראשון בתקשורת חזותית (.B.Des).

            SCE מבססת את מעמדה בין המוסדות האקדמיים המובילים בארץ ומקדמת מצוינות במחקר ובהוראה, תוך שיתוף פעולה עם התעשייה ועם הקהילה המדעית הבין-לאומית.

            המכללה מכשירה אנשי מקצוע יצירתיים ושאפתניים, חדורי רצון לחדש ולשנות, העונים על הביקוש הגואה לכוח אדם טכנולוגי בעל תפיסה יזמית ורמה אקדמית-מדעית גבוהה. הסטודנטים והבוגרים של המכללה רוכשים את כל הכלים המקצועיים, היישומיים והאקדמיים הדרושים להם להמשך דרכם.
        </p>
    </div>

   

    <div class="row">

        <br />
        <img src="https://www.iopex.com/img/ad-operations-policy-compliance-management-services-case-study-banner.jpg?fm=jpg&q=80&fit=max&crop=912%2C608%2C0%2C0" style="border-style: dotted;" height="700" width="1100       />

    </div>


</div>

