
@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}





<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Events - Mentor Bootstrap Template</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/bootstrap/CounterPage/assets/img/favicon.png" rel="icon">
    <link href="~/bootstrap/CounterPage/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/bootstrap/CounterPage/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/bootstrap/CounterPage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/bootstrap/CounterPage/assets/css/style.css" rel="stylesheet">

</head>


<body>

    <!-- Page Content  -->
    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">
                <h2>Events</h2>
                <p>
                    At SCE we don’t have sales people. We think you should connect directly with the person who will be DJing your event. So be sure to specify the SCE team member you wish to work with.
                    During the present time, we are not doing in person meetings, and have the ability to meet with you via FaceTime, Zoom, Skype or phone
                </p>
            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Events Section ======= -->
        <section id="events" class="events">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/bootstrap/CounterPage/assets/img/events-1.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">READY TO CELEBRATE YOU</a></h5>
                                <p class="fst-italic text-center">Sunday, September 26th at 7:00 pm</p>
                                <p class="card-text">
                                    That’s what we mean when we say we’re “boutique wedding DJs.” There’s no one-size-fits-all wedding. So we’re throwing out the one-size-fits-all model. We cater directly to your vision of your wedding day. DJs who just show up and press play aren’t in our roster.

                                    When you take our approach and blend it with our incredible full-time DJs (yes, we said full-time DJs), magic happens. When entertainers truly care about their art, they’re dedicated to creating the best experiences for you, too.

                                    Though we DJ weddings, nightlife, and other social events across the country, New Jersey weddings have a special place in our heart. If you’re looking for the best wedding DJ in Jersey, look no further. SCE is recognized year after year for creating the best weddings in NJ.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-img">
                                <img src="~/bootstrap/CounterPage/assets/img/events-2.jpg" alt="...">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title"><a href="">BOUTIQUE NEW JERSEY DJS</a></h5>
                                <p class="fst-italic text-center">Sunday, November 15th at 7:00 pm</p>
                                <p class="card-text">
                                    There is a difference between SCE and other DJ companies. It all comes down to our approach.
                                    SCE Event Group was founded by real DJs with real backgrounds in nightlife, music production, and professional mixing. That just means no cheesy audience interaction, pre-made playlists, or any other outdated techniques. We use a boutique approach to wedding and event design that’s unmatched in the industry.

                                    For us, every event is different. That’s something you learn when you’ve been hosting the best New Jersey weddings for as long as we have. So we want to give you the day you always imagined. With all the style, taste, and event perfection you’ve dreamed of.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


                

            </div>
        </section><!-- End Events Section -->

    </main><!-- End #main -->





    
    
  






















</body>
</html>




<!-- Vendor JS Files -->
<script src="~/bootstrap/CounterPage/assets/vendor/purecounter/purecounter.js"></script>
<script src="~/bootstrap/CounterPage/assets/vendor/aos/aos.js"></script>
<script src="~/bootstrap/CounterPage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/bootstrap/CounterPage/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="~/bootstrap/CounterPage/assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/bootstrap/CounterPage/assets/js/main.js"></script>







