@model IEnumerable<IdintityProject.ViewModels.Users_in_Role_ViewModel>

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/LayoutLoggedIn.cshtml";
}



<!doctype html>
<html lang="en">
<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>diigo</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" href="~/bootstrap/dashboardPage/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" href="~/bootstrap/dashboardPage/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="~/bootstrap/dashboardPage/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="~/bootstrap/dashboardPage/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="~/bootstrap/dashboardPage/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>



</body>




<div>







    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>




            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@ViewBag.user</td>


            </tr>

        </tbody>
    </table>

</div>



</table>





</html>



<!-- Javascript files-->
<script src="~/bootstrap/dashboardPage/js/jquery.min.js"></script>
<script src="~/bootstrap/dashboardPage/js/popper.min.js"></script>
<script src="~/bootstrap/dashboardPage/js/bootstrap.bundle.min.js"></script>
<script src="~/bootstrap/dashboardPage/js/jquery-3.0.0.min.js"></script>
<script src="~/bootstrap/dashboardPage/js/plugin.js"></script>
<!-- sidebar -->
<script src="~/bootstrap/dashboardPage/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/bootstrap/dashboardPage/js/custom.js"></script>
<script src="~/bootstrap/dashboardPage/https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>


